@charset "UTF-8";
body, html {
    height: 100%;
    color:#454545;
}

/* .center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 30px 50px;
} */

.parallax {
    /* The image used */
    background-image: url('pic/mybabe.jpg');

	/*透明度*/
	opacity: 0.5;
	
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-side-content {
    margin: 20px;
    width: 60%;
    padding: 70px 65px;
    font-family: fantasy;
}

.content {
    margin: 20px;
    padding: 70px 65px;
    font-family: fantasy;
}

div .row img{
    margin: 40px 0 10px; /*top ; right&left ; bottom*/
    width: 80%;
}

.img-description {
    font-size: 10px;
    font-family: cursive;
}

.parallax1 {
    /* The image used */
    background-image: url('pic/mybabe.jpg');

	/*透明度*/
	opacity: 0.5;
	
    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url('pic/mybabe.jpg');

	/*透明度*/
	opacity: 0.5;
	
    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('pic/mybabe.jpg');

	/*透明度*/
	opacity: 0.5;
	
    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    /* The image used */
    background-image: url('pic/mybabe.jpg');

	/*透明度*/
	opacity: 0.5;
	
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: left;
  	position: relative;
  	font-family: Chalkduster;
  	font-size: 20px;
  	color: #676767;
}